In [4]:
import pandas as pd

In [6]:
# Loading dataset (example dataset)
data = {
    'Name': ['Amit', 'Riya', 'Sohan', 'Tina', 'Rahul'],
    'Age': [21, 23, 20, 22, 21],
    'Department': ['IT', 'CS', 'IT', 'ENTC', 'CS'],
    'Marks': [85, 90, 75, 95, 88]
}

df = pd.DataFrame(data)

print("Original Dataset:\n", df)

Original Dataset:
     Name  Age Department  Marks
0   Amit   21         IT     85
1   Riya   23         CS     90
2  Sohan   20         IT     75
3   Tina   22       ENTC     95
4  Rahul   21         CS     88

In [7]:
# Display first few records
print("\nFirst 3 records of dataset:\n", df.head(3))

First 3 records of dataset:
     Name  Age Department  Marks
0   Amit   21         IT     85
1   Riya   23         CS     90
2  Sohan   20         IT     75

In [8]:
# Information about dataset
print("\nDataset Information:\n")
print(df.info())

Dataset Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Department  5 non-null      object
 3   Marks       5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [9]:
# Describe numerical columns
print("\nStatistical Summary:\n", df.describe())

Statistical Summary:
              Age      Marks
count   5.000000   5.000000
mean   21.400000  86.600000
std     1.140175   7.436397
min    20.000000  75.000000
25%    21.000000  85.000000
50%    21.000000  88.000000
75%    22.000000  90.000000
max    23.000000  95.000000

In [10]:
# Filtering students with Marks > 80
print("\nStudents with Marks greater than 80:\n", df[df['Marks'] > 80])

Students with Marks greater than 80:
     Name  Age Department  Marks
0   Amit   21         IT     85
1   Riya   23         CS     90
3   Tina   22       ENTC     95
4  Rahul   21         CS     88

In [11]:
# Sorting data by Marks
sorted_df = df.sort_values(by='Marks', ascending=False)
print("\nDataset sorted by Marks (Descending Order):\n", sorted_df)

Dataset sorted by Marks (Descending Order):
     Name  Age Department  Marks
3   Tina   22       ENTC     95
1   Riya   23         CS     90
4  Rahul   21         CS     88
0   Amit   21         IT     85
2  Sohan   20         IT     75

In [12]:
# Grouping data by Department
grouped_data = df.groupby('Department')['Marks'].mean()
print("\nAverage Marks by Department:\n", grouped_data)

Average Marks by Department:
 Department
CS      89.0
ENTC    95.0
IT      80.0
Name: Marks, dtype: float64

In [14]:
 #Adding a new column (Result)
df['Result'] = ['Pass' if x >= 40 else 'Fail' for x in df['Marks']]
print("\nDataset after adding 'Result' column:\n", df)

Dataset after adding 'Result' column:
     Name  Age Department  Marks Result
0   Amit   21         IT     85   Pass
1   Riya   23         CS     90   Pass
2  Sohan   20         IT     75   Pass
3   Tina   22       ENTC     95   Pass
4  Rahul   21         CS     88   Pass

In [15]:
# Removing a column
df = df.drop('Age', axis=1)
print("\nDataset after deleting 'Age' column:\n", df)

Dataset after deleting 'Age' column:
     Name Department  Marks Result
0   Amit         IT     85   Pass
1   Riya         CS     90   Pass
2  Sohan         IT     75   Pass
3   Tina       ENTC     95   Pass
4  Rahul         CS     88   Pass

In [16]:
# Handling missing values example
df.loc[2, 'Marks'] = None
print("\nDataset with Missing Value Added:\n", df)

Dataset with Missing Value Added:
     Name Department  Marks Result
0   Amit         IT   85.0   Pass
1   Riya         CS   90.0   Pass
2  Sohan         IT    NaN   Pass
3   Tina       ENTC   95.0   Pass
4  Rahul         CS   88.0   Pass

In [18]:
 #Filling missing values
df['Marks'].fillna(df['Marks'].mean(), inplace=True)
print("\nDataset after Filling Missing Value with Mean:\n", df)

Dataset after Filling Missing Value with Mean:
     Name Department  Marks Result
0   Amit         IT   85.0   Pass
1   Riya         CS   90.0   Pass
2  Sohan         IT   89.5   Pass
3   Tina       ENTC   95.0   Pass
4  Rahul         CS   88.0   Pass