In [1]:
import pandas as pd

In [2]:
# Creating a DataFrame
data = {
    'Name': ['Amit', 'Riya', 'Sohan', 'Tina'],
    'Age': [21, 23, 20, 22],
    'Marks': [85, 90, 75, 95]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
     Name  Age  Marks
0   Amit   21     85
1   Riya   23     90
2  Sohan   20     75
3   Tina   22     95

In [3]:
# Selecting specific column
print("\nNames Column:\n", df['Name'])

Names Column:
 0     Amit
1     Riya
2    Sohan
3     Tina
Name: Name, dtype: object

In [4]:
# Filtering data
print("\nStudents with Marks > 80:\n", df[df['Marks'] > 80])

Students with Marks > 80:
    Name  Age  Marks
0  Amit   21     85
1  Riya   23     90
3  Tina   22     95

In [5]:
# Adding a new column
df['Result'] = ['Pass' if x >= 40 else 'Fail' for x in df['Marks']]
print("\nDataFrame after adding new column:\n", df)

DataFrame after adding new column:
     Name  Age  Marks Result
0   Amit   21     85   Pass
1   Riya   23     90   Pass
2  Sohan   20     75   Pass
3   Tina   22     95   Pass

In [6]:
# Sorting data
print("\nData sorted by Marks:\n", df.sort_values(by='Marks', ascending=False))

Data sorted by Marks:
     Name  Age  Marks Result
3   Tina   22     95   Pass
1   Riya   23     90   Pass
0   Amit   21     85   Pass
2  Sohan   20     75   Pass

In [7]:
# Aggregation
print("\nAverage Marks:", df['Marks'].mean())

Average Marks: 86.25

In [8]:
# Deleting a column
df = df.drop('Age', axis=1)
print("\nDataFrame after deleting 'Age' column:\n", df)

DataFrame after deleting 'Age' column:
     Name  Marks Result
0   Amit     85   Pass
1   Riya     90   Pass
2  Sohan     75   Pass
3   Tina     95   Pass